<form novalidate [formGroup]="consultasForm" (ngSubmit)="remover()">
    <input type="hidden" id="idConsultaAtual" formControlName="ConsultaId">     
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Exclusão de Consulta</h4>
    <button type="button" class="close" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
   <label>Deseja realmente remover a consulta?</label>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="fecharModal()">Cancelar</button>
    <button type="submit" class="btn btn-outline-dark">Excluir</button>
  </div>
</form>